[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/

[Service]
Restart=no
User=prometheus
Type=simple
ExecStart=/usr/local/src/prometheus-2.48.0.linux-amd64/prometheus --config.file=/usr/local/src/prometheus-2.48.0.linux-amd64/prometheus.yml --storage.tsdb.path=/var/lib/prometheus/data
ExecStop=/bin/kill -TERM ${MAINPID}
ExecReload=/bin/kill -HUP ${MAINPID}
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target


